@using SofiaDayAndNight.Web.Models
@model ResultViewModel

<h2>Results:</h2>

@Html.Partial("~/Areas/User/Views/Shared/_IndividualsListPartial.cshtml", Model.Individuals)

@Html.Partial("~/Areas/User/Views/Shared/_OrganizationsListPartial.cshtml", Model.Organizations)

@Html.Partial("~/Areas/User/Views/Shared/_EventsListPartial.cshtml", Model.EventsList)

