@using SofiaDayAndNight.Web.Models
@model IEnumerable<EventViewModel>
@Styles.Render("~/Content/event")
<br />
<div class="row">
	<h4>Upcoming Events</h4>
	<div id="event">
		@foreach (var ev in Model)
		{
			<div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
				<a href="@Url.Action("EventDetails", "Event", new { area = "User", id = ev.Id })">
					@Html.Partial("~/Areas/User/Views/Shared/_EventPartial.cshtml", ev)
				</a>
			</div>
		}
	</div>
</div>

